playwright
beautifulsoup4
lxml
httpx
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
faiss-cpu
python-dotenv
fastapi
uvicorn
pydantic
slowapi
streamlit
duckduckgo-search
langchain-groq
langchain-classic
